@model Dish

<div class="text-center">
    <h1 class="display-4">Add a new Dish!</h1>
    <a href="/">Home</a>|<a href="/dishes/new">Add Dishes</a>
</div>

<form class="shadow p-4 rounded" asp-controller="Dishes" asp-action="Create"  method="POST">

        <div class="mb-3">
            <label asp-for="Chef">Chef's Name</label>
            <span asp-validation-for="Chef" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Chef" />
        </div>

        <div class="mb-3">
            <label asp-for="Name">Name of Dish</label>
            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Name"/>
        </div>

        <div class="mb-3">
            <label asp-for="Calories"># of Calories</label>
            <span asp-validation-for="Calories" class="text-danger font-weight-bold"></span>
            <input type="number" asp-for="Calories">
        </div>

        <div class="mb-3">
            <label asp-for="Tastiness"></label>
            <span asp-validation-for="Tastiness" class="text-danger font-weight-bold"></span>
            <select asp-for="Tastiness">
                <option selected disabled value="">--Select Value--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
            <br>
            <textarea asp-for="Description" id="" cols="30" rows="10" placeholder="Write a Description.."></textarea>
        </div>

        <button class="btn btn-success">Submit</button>
    </form>