@model Wedding


<form asp-controller="Weddings" asp-action="Create" method="POST">

    <div class="mb-3">
        <label asp-for="WedderOne"></label>
        <span asp-validation-for="WedderOne" class="text-danger font-weight-bold"></span>
        <input class="form-control" asp-for="WedderOne"/>
    </div>

    <div class="mb-3">
        <label asp-for="WedderTwo"></label>
        <span asp-validation-for="WedderTwo" class="text-danger font-weight-bold"></span>
        <input class="form-control" asp-for="WedderTwo"/>
    </div>

    <div class="mb-3">
        <label asp-for="Date"></label>
        <span
        asp-validation-for="Date"
        class="text-danger font-weight-bold"
        ></span>
        <input class="form-control" asp-for="Date" />
    </div>

    <div class="mb-3">
        <label asp-for="Address"></label>
        <span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
        <input class="form-control" asp-for="Address"/>
    </div>

    <button class="btn btn-success">Create</button>
</form>